# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/
.packages
.pub-cache/
.pub/
.flutter-plugins-dependencies

# Android
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
*.iml
.idea/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# Misc
.DS_Store
*.log
*.apk
*.aab

# Secrets
.env
*.key
key.properties